{% extends 'tracker/base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-85">
    <div class="card p-4 shadow-lg" style="width: auto; max-width: Auto;">
        
        <div class="text-center mb-4">
            <h2 class="text-nowrap">Update Ticket: {{ bug.title }}</h2>
        </div>
        
        
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_title" class="form-label">Title</label>
                {{ form.title }}
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <div class="mb-3">
                <label for="id_status" class="form-label">Status</label>
                {{ form.status }}
            </div>
            <div class="mb-3">
                <label for="id_assigned_to" class="form-label">Assigned To</label>
                {{ form.assigned_to }}
            </div>
            <div class="mb-3">
                <label for="id_project" class="form-label">Project</label>
                {{ form.project }}
            </div>
            <div class="mb-3">
                <label for="id_changeset_number" class="form-label">Changeset Number</label>
                {{ form.changeset_id }}
            </div>
            <button type="submit" class="btn btn-success w-100">Update ticket</button>
        </form>
        
        <a href="{% url 'bug_list' %}" class="btn btn-secondary w-100 mt-3">Back to ticket list</a>
    
    </div>
</div>
{% endblock %}
